body {
  font-family: 'Libre Barcode 128 Text', cursive;
}

p {
  font-family: 'Abril Fatface', cursive;
}

span {
background: white;
padding: 5px;
margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image1 {
  margin-right: 10px;
  margin-bottom: 10px;
  background: url("../01.png") no-repeat rgba(255, 255, 255, .5);
  background-size: cover;
  display: flex;
  width: 500px;
  height: 250px;
  color: black;
  font-size: 50px;
  align-items: flex-end;
  justify-content: center;
}

.image2 {
  margin-right: 10px;
  margin-bottom: 10px;
  background: url("../02.png") no-repeat;
  background-size: cover;
  display: flex;
  width: 500px;
  height: 250px;
  color: black;
  font-size: 50px;
  align-items: flex-end;
  justify-content: center;
}

.image3 {
  margin-right: 10px;
  margin-bottom: 10px;
  background: url("../03.png") no-repeat;
  background-size: cover;
  display: flex;
  width: 500px;
  height: 250px;
  color: black;
  font-size: 50px;
  align-items: flex-end;
  justify-content: center;
}

.image4 {
  margin-right: 10px;
  margin-bottom: 10px;
  background: url("../04.png") no-repeat;
  background-size: cover;
  display: flex;
  width: 500px;
  height: 250px;
  color: black;
  font-size: 50px;
  align-items: flex-end;
  justify-content: center;
}

.image1:hover { 
  opacity: 100%;
}

.image2:hover { 
  opacity: 100%;
}

.image3:hover { 
  opacity: 100%;
}

.image4:hover { 
  opacity: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

nav {
  height: 50px;
  background-color: #183A54;
  color: white;
  padding: 15px 15px;
  margin-bottom: 25px;
  }

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}