body {
background: #be93c5; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #be93c5, #7bc6cc); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #be93c5, #7bc6cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
flex-direction: column;
cursor: url('./Tree.png'), auto;
}

h1 {
font-family: 'Permanent Marker', cursive;
font-size: 36px;
text-shadow: 2px white;
}

h2 {
font-family: 'Permanent Marker', cursive;
color: purple;
}

p {
font-family: 'Special Elite', cursive;
}

section {
 background: url("BG1.jpg") no-repeat;
 background-size: cover;
 background-color: blue;
 display: flex;
 color: black;
 align-items: center;
 justify-content: flex-end;
 padding-right: 50px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.experience { 
  overflow: scroll;
  background: ghostwhite;
  color: black;
  font-family: 'Special Elite', cursive;
  height: 150px;
  padding: 10px;
  border: solid 2px #7bc6cc;
  box-shadow: 3px 3px gainsboro;
}

.skills {
  overflow: scroll;
  background: ghostwhite;
  color: black;
  font-family: 'Special Elite', cursive;
  height: 75px;
  padding: 10px;
  border: solid 2px #7bc6cc;
  box-shadow: 3px 3px gainsboro;
}

.education {
  overflow: scroll;
  background: ghostwhite;
  color: black;
  font-family: 'Special Elite', cursive;
  height: 150px;
  padding: 10px;
  border: solid 2px #7bc6cc;
  box-shadow: 3px 3px gainsboro;
}

.internships {
  overflow: scroll;
  background: ghostwhite;
  color: black;
  font-family: 'Special Elite', cursive;
  height: 150px;
  padding: 10px;
  border: solid 2px #7bc6cc;
  box-shadow: 3px 3px gainsboro;
}

@media q}