
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  background: url('https://images.unsplash.com/photo-1529973625058-a665431328fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=802');
  background-size: cover;
}

.container-inner {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.button_wrapper {
  border: 1px solid red;
  padding: 50px 125px;
  border-radius: 4px;
  background-color: rgba(238,238,238, 0.429)
}

a{
text-decoration: none;
  color: aquamarine
  font-size: 40px;
}