
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 6px;
  margin: .2em;
}

square.hover:nth-of-type(even) {
  transform: scale(2);
}

square.hover:nth-of-type(odd) {
  transform: scale(2);
}

.square-1 {
  background: #b03532;
}
.square-2 {
  background: #33a8a5;
}
.square-3 {
  background: #ff9069;
}
.square-4 {
  background: #6a478f;
}
.square-5 {
  background: #3d8bb1;
}
.square-6 {
  background: #4464a1;
}
.square-7 {
  background: #e03f3f;
}
.square-8 {
  background: #59a627;
}
.square-9 {
  background: #b03532;
}
.square-10 {
  background: #4464a1;
}
.square-11 {
  background: #33a8a5;
}
.square-12 {
  background: #59a627;
}
