body {
  font-family: 'Open Sans Condensed', sans-serif;
}

section {
  font-family: 'Open Sans Condensed', sans-serif;
  float: left;
  margin: 0 1.5%;
  width: 63%;
}
aside {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #cccccc;
  float: right;
 margin: 0 1.5%;
  width: 30%;
}

              