* {
  padding: 0px;
  margin: 5px;
  font-family: 'Charmonman', cursive;
}

.flexbox{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {

  .flexbox{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
  }

  .Column{
    display: flex;
    position: relative;
    flex-direction: column;
  }
}